parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$token\\.$#"
			count: 1
			path: app/Actions/Socialstream/CreateConnectedAccount.php

		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$email\\.$#"
			count: 1
			path: app/Actions/Socialstream/ResolveSocialiteUser.php

		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$id\\.$#"
			count: 1
			path: app/Actions/Socialstream/ResolveSocialiteUser.php

		-
			message: "#^Access to an undefined property Laravel\\\\Socialite\\\\Contracts\\\\User\\:\\:\\$token\\.$#"
			count: 1
			path: app/Actions/Socialstream/UpdateConnectedAccount.php
